<!doctype html>
<html lang="en" ng-app="hypervideoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hypervideo Template</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="img/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hypervideo Template">
    <link rel="apple-touch-icon-precomposed" href="img/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="img/favicon.png">

	<script src="annotations/annotations.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="angular.app.js"></script>
	<script src="vendor/ng-map.js"></script>
	<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="vendor/material.color.min.css">
    <link rel="stylesheet" href="vendor/styles.css">
  </head>
  <body ng-controller="TimingController as objects" class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a id="hauptseitebutton" href="#hauptseite" class="mdl-layout__tab is-active">Live-Ansicht</a>
          <a id="personenbutton" href="#personen" class="mdl-layout__tab">Alle Personen</a>
          <a style="display: none;" id="aktuellepersonbutton" href="#aktuelleperson" class="mdl-layout__tab">{{objects.currentCharakter.vorname}} {{objects.currentCharakter.name}}</a>
          <a id="ortebutton" href="#orte" class="mdl-layout__tab">Alle Orte</a>
          <a style="display: none;" id="aktuellerortbutton" href="#aktuellerort" class="mdl-layout__tab">{{objects.currentOrt.name}}</a>
          <a id="zusatzinfosbutton" href="#zusatzinfos" class="mdl-layout__tab">Alle Zusatzinfos</a>
          <a style="display: none;" id="aktuellezusatzinfobutton" href="#aktuellezusatzinfo" class="mdl-layout__tab">{{objects.currentZusatzinfo.name}}</a>
          <a id="projektbutton" href="#projekt" class="mdl-layout__tab">Über das Projekt</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div>
            
            
            
        <br /><br />
          <section id="videosection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <video hypervideo video-current-time="currentTime" width="100%" height="100%" controls>
                    <source src="video/video.mp4" type="video/mp4">
                    Dein Browser kann das Video leider nicht abspielen. Bitte installiere einen aktuellen Browser (z.B. <a href="https://www.google.de/chrome/">Google Chrome</a>).
                </video>
          </section>
        </div>


		
        <div class="mdl-layout__tab-panel is-active" id="hauptseite">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Personen
                </h4>
              </div>
              <div ng-repeat="t in objects.charaktere | filter : t.visible !== true" ng-value="t" class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-image: url(annotations/{{t.bild}})"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{t.vorname}} {{t.name}}</h5>
                  <p>{{t.kurzbeschreibung}} <a ng-click="objects.currentCharakter = t; objects.angulardocument.getElementById('aktuellepersonbutton').click();" href="#">mehr erfahren</a>.</p>
                </div>
              </div>
              <div class="mdl-card__actions">
                  <a onclick="document.getElementById('personenbutton').click()" href="#" class="mdl-button">
                      Alle Personen im Überblick
                  </a>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Ort
                </h4>
              </div>
              <div ng-repeat="t in objects.orte | filter : t.visible !== true" ng-value="t" class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-image: url(annotations/{{t.bild}})"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{t.name}}</h5>
                  <p>{{t.kurzbeschreibung}} <a ng-click="objects.currentOrt = t; objects.angulardocument.getElementById('aktuellerortbutton').click();" href="#">mehr erfahren</a>.</p>
                </div>
              </div>
              <div class="mdl-card__actions">
                  <a onclick="document.getElementById('ortebutton').click()" href="#" class="mdl-button">
                      Alle Orte im Überblick
                  </a>
              </div>
            </div>
          </section>
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Zusatzinfos
                </h4>
              </div>
              <div ng-repeat="t in objects.zusatzinfos | filter : t.visible !== true" ng-value="t" class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-image: url(annotations/{{t.bild}})"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{t.name}}</h5>
                  <p>{{t.kurzbeschreibung}} <a ng-click="objects.currentZusatzinfo = t; objects.angulardocument.getElementById('aktuellezusatzinfobutton').click();" href="#">mehr erfahren</a>.</p>
                </div>
              </div>
              <div class="mdl-card__actions">
                  <a onclick="document.getElementById('zusatzinfosbutton').click()" href="#" class="mdl-button">
                      Alle Zusatzinfos im Überblick
                  </a>
              </div>
            </div>
          </section>
		  <br /><br />
        </div>
          
          
          
		<div class="mdl-layout__tab-panel" id="personen">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
		  </section>
          <section ng-repeat="t in objects.charaktere" ng-value="t" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-image: url(annotations/{{t.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{t.vorname}} {{t.name}}</h4>
                {{t.kurzbeschreibung}}
              </div>
              <div class="mdl-card__actions">
                <a ng-click="objects.currentCharakter = t; objects.angulardocument.getElementById('aktuellepersonbutton').click();" href="#" class="mdl-button">mehr erfahren</a>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
        
          
          
        <div class="mdl-layout__tab-panel" id="aktuelleperson">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="document.getElementById('personenbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Personenübersicht
			</a>
		  </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-image: url(annotations/{{objects.currentCharakter.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{objects.currentCharakter.vorname}} {{objects.currentCharakter.name}}</h4>
                {{objects.currentCharakter.kurzbeschreibung}}
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"
				   ng-if="objects.currentCharakter.dokument">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.currentCharakter.dokument">
					<docs doc="t"></docs>
				</div>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <div class="mdl-layout__tab-panel" id="orte">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
		  </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <ng-map id="mapuebersicht" zoom="10" center="{{objects.currentOrt.adresse}}">
				<marker ng-repeat="t in objects.orte"
						position="{{t.adresse}}"
						title="{{t.name}}"
						on-click="objects.showCustomMarker({{t}})"></marker>
			  </ng-map>
              <div class="mdl-card__supporting-text">
                <h4>Übersichtskarte</h4>
                <p>Alle Orte auf einen Blick</p>
              </div>
            </div>
          </section>
          <section ng-repeat="t in objects.orte" ng-value="t" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-image: url(annotations/{{t.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{t.name}}</h4>
                {{t.kurzbeschreibung}}
              </div>
              <div class="mdl-card__actions">
                <a ng-click="objects.currentOrt = t; objects.angulardocument.getElementById('aktuellerortbutton').click();" href="#" class="mdl-button">mehr erfahren</a>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <div class="mdl-layout__tab-panel" id="aktuellerort">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="document.getElementById('ortebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Orteübersicht
			</a>
		  </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
			  <ng-map id="mapaktuellerort" zoom="17" center="{{objects.currentOrt.adresse}}">
				  <marker position="{{objects.currentOrt.adresse}}"
						  title="{{objects.currentOrt.name}}"
						  centered="true"></marker>
			  </ng-map>
              <div class="mdl-card__supporting-text">
                <h4>{{objects.currentOrt.name}}</h4>
                {{objects.currentOrt.kurzbeschreibung}}
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"
				   ng-if="objects.currentOrt.dokument">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.currentOrt.dokument">
					<docs doc="t"></docs>
				</div>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <div class="mdl-layout__tab-panel" id="zusatzinfos">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
		  </section>
          <section ng-repeat="t in objects.zusatzinfos" ng-value="t" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-image: url(annotations/{{t.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{t.name}}</h4>
                {{t.kurzbeschreibung}}
              </div>
              <div class="mdl-card__actions">
                <a ng-click="objects.currentZusatzinfo = t; objects.angulardocument.getElementById('aktuellezusatzinfobutton').click();" href="#" class="mdl-button">mehr erfahren</a>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <div class="mdl-layout__tab-panel" id="aktuellezusatzinfo">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Live-Ansicht
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="document.getElementById('zusatzinfosbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Zusatzfinoübersicht
			</a>
		  </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-image: url(annotations/{{objects.currentZusatzinfo.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{objects.currentZusatzinfo.name}}</h4>
                {{objects.currentZusatzinfo.kurzbeschreibung}}
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"
				   ng-if="objects.currentZusatzinfo.dokument">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.currentZusatzinfo.dokument">
					<docs doc="t"></docs>
				</div>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <div class="mdl-layout__tab-panel" id="projekt">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.projektbeschreibung">
					<docs doc="t"></docs>
				</div>
              </div>
            </div>
          </section>
          <br /><br />
        </div>
          
          
          
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              Copyright 2018
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="https://github.com/1iedler/hypervideo/" target="_blank">Lizenzen</a></li>
              <li><a href="https://github.com/1iedler/hypervideo/" target="_blank">Impressum</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <a href="https://github.com/1iedler/hypervideo/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">
        unterstützen
    </a>
    <script src="vendor/material.min.js"></script>
  </body>
</html>
