<!doctype html>
<html xml:lang="de" lang="de-DE" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
  
	<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
	<meta name="robots" content="noindex, nofollow">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    
	
	
	
	
	<!-- CUSTOM-CONTENT -->
	<title>Hypervideo</title>
	<meta name="apple-mobile-web-app-title" content="Hypervideo">
	<meta name="description" content="Hypervideo"/>
	<meta name="keywords" content="Hypervideo"/>
	<meta name="author" content="filmproduktion, laspire, Landshut">
	<meta property="og:image" content="https://1iedler.github.io/hypervideo/img/titelbild.png" />
	<style> :root { --hauptfarbe: #799A9E; }</style>
	<meta name="theme-color" content="#799A9E" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#799A9E">
	<meta name="msapplication-TileColor" content="#799A9E">
	
	
	
	
	
	
	<!--link rel="manifest" href="/manifest.json">
	<script>
	  if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('service-worker.js')
		  .then(function(reg){
			console.log("serviceWorker registered.");
		  }).catch(function(err) {
			console.log("serviceWorker not registered: ", err)
		  });
	  }
	</script-->
	
	<link rel="shortcut icon" href="img/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
	<!--meta name="theme-color" content="#424242" /-->
    <link rel="icon" sizes="192x192" href="img/android-desktop.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!--meta name="apple-mobile-web-app-status-bar-style" content="#424242"-->
    <!--meta name="apple-mobile-web-app-title" content="Hypervideo Template"-->
    <link rel="apple-touch-icon-precomposed" href="img/ios-desktop.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/ms-touch-icon-144x144-precomposed.png">
    <!--meta name="msapplication-TileColor" content="#424242"-->

    <script src="vendor/material.min.js"></script>
	<script src="annotations/annotations.js"></script>
    <script src="vendor/angular.min.js"></script>
    <script src="angular.app.js"></script>
	<link href="vendor/video-js.min.css" rel="stylesheet">
	<link href="vendor/video-js-custom-styling.css" rel="stylesheet">
	<script src="vendor/video-js.min.js"></script>
	<script src="vendor/videojs-ie8.min.js"></script>
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"-->
	<link rel="stylesheet" href="vendor/google-fonts-roboto.css">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
	<link rel="stylesheet" href="vendor/google-fonts-material-icons.css">
    <link rel="stylesheet" href="vendor/material.color.min.css">
    <link rel="stylesheet" href="vendor/styles.css">
	<link rel="stylesheet" href="style.css">
	<script src="misc.js"></script>

  </head>
  <body ng-app="hypervideoApp" ng-controller="TimingController as objects" class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="scrollviewanker2">
	
	  <!-- NAVIGATION -->
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark" onclick="stopLoading()">
          <a id="hauptseitebutton" href="#hauptseite" onclick="scrollToTop();" class="mdl-layout__tab">Live-Ansicht</a>
          <a id="personenbutton" href="#personen" onclick="scrollToInfo();" class="mdl-layout__tab">Alle Personen</a>
          <a style="display: none;" id="aktuellepersonbutton" href="#aktuelleperson" onclick="scrollToInfo();" class="mdl-layout__tab">{{objects.currentCharakter.vorname}} {{objects.currentCharakter.name}}</a>
          <a id="zusatzinfosbutton" href="#zusatzinfos" onclick="scrollToInfo();" class="mdl-layout__tab">Alle Zusatzinfos</a>
          <a style="display: none;" id="aktuellezusatzinfobutton" href="#aktuellezusatzinfo" onclick="scrollToInfo();" class="mdl-layout__tab">{{objects.currentZusatzinfo.name}}</a>
		  <a id="projektbutton" href="#projekt" onclick="scrollToInfo();" class="mdl-layout__tab is-active">Über das Projekt</a>
		  <a style="display: none;" id="projektunterseite1button" href="#projektunterseite1" onclick="scrollToInfo();" class="mdl-layout__tab"></a>
		  <a style="display: none;" id="projektunterseite2button" href="#projektunterseite2" onclick="scrollToInfo();" class="mdl-layout__tab"></a>
        </div>
      </header>


	  <!-- LADEBILDSCHIRM -->
	  <main>
		<br><br>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col" style="text-align: center;">
					<img src="img/logo.png" width="100%" style="max-width: 400px;" /><br><br>
					<img src="img/loading.svg" width="100px" />
                </h4>
              </div>
            </div>
          </section>
	  </main>


      <main class="mdl-layout__content" style="visibility: hidden;" id="scrollviewanker1">
	  
	  	<!-- VIDEO -->
		<div id="videosectionntainer" style="display: none;">
			<br>
			  <section class="section--center mdl-grid mdl-grid--no-spacing" style="text-align: center;">
				<div>
					<span class="mdl-chip mdl-chip--deletable" onclick="this.style.display = 'none';">
						<span class="mdl-chip__text">Links werden Personen, rechts Zusatzinfos eingeblendet.</span>
						<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
					</span>
					<br>
				</div>
			  </section>
			<br>
			<div>
			  <section id="videosection" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
				<div id="videooverlay" style="position: absolute; top: 0px; display: flex; justify-content: space-between; width: 100%; height: 0px; overflow: visible; z-index: 9001; cursor: pointer;">
					<div>
						<!--div ng-if="(currentTime > 0 && currentTime <= 1)">
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--primary" style="border: 2px solid white; background-size: cover; background-position: center center; background-image: url(annotations/template.png">
								</div>
							</div>
						</div-->
						<div ng-repeat="t in objects.charaktere | filter : t.visible !== true" ng-value="t">
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--primary" style="border: 2px solid white; background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})"
									 ng-click="objects.currentCharakter = t; objects.angulardocument.getElementById('aktuellepersonbutton').click();">
								</div>
							</div>
						</div>
					</div>
					<div>
						<!--div ng-if="(currentTime > 0 && currentTime <= 1)">
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--primary" style="border: 2px solid white; background-size: cover; background-position: center center; background-image: url(annotations/template.png)">
								</div>
							</div>
						</div-->
						<div ng-repeat="t in objects.zusatzinfos | filter : t.visible !== true" ng-value="t">
							<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
								<div class="section__circle-container__circle mdl-color--primary" style="border: 2px solid white; background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})"
									 ng-click="objects.currentZusatzinfo = t; objects.angulardocument.getElementById('aktuellezusatzinfobutton').click();">
								</div>
							</div>
						</div>
					</div>
				</div>
				<video hypervideo video-current-time="currentTime" controls playsinline id="video" class='video-js vjs-16-9' data-setup='{}'>
					<source src="video/video.mp4" type="video/mp4">
					Dein Browser kann das Video leider nicht abspielen. Bitte installiere einen aktuellen Browser (z.B. <a href="https://www.google.de/chrome/">Chrome</a>).
				</video>
			  </section>
			</div>
			<span id="videoanker"></span>
        </div>
		
		
		<!-- PROJEKTUEBERSICHT-SEITE UND UNTERSEITEN-->
		<!-- CUSTOM-CONTENT -->
		<div class="mdl-layout__tab-panel is-active" id="projekt">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
			  <div class="mdl-card__title" style="background-size: cover; background-position: center right; background-image: url('img/startseitenbild.jpg'); height: 500px; max-height:70vh">
				<div class="mdl-card__title-text"><div><img src="img/logo-startseitenbild.png" width="100%" style="max-width:500px" /></div></div>
			  </div>
              <div class="mdl-card__supporting-text">
				<p style="text-align: center">
					<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
						interaktives Video starten
					</a>
				</p>
				<div class="mdl-grid" style="padding:3px">
				  <div class="mdl-cell mdl-cell--6-col" style="padding:5px">
					<h1>Hypervideo</h1>
					<p>bla bla</p>
				  </div>
				  <div class="mdl-cell mdl-cell--6-col" style="padding:5px">
					<h1>Mehr als nur ein Film</h1>
					<p>Während des Betrachtens des Films können live zusätzliche Fakten eingeblendet werden
					</p>
				  </div>
				</div>
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
			  <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Das Team hinter dem Projekt
                </h4>
              </div>
			  <div class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
				<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
					<div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-position: center center; background-image: url(img/custom/max.jpg)"></div>
				</div>
				<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
				  <h5>Maxi Mustermänn*in</h5>
				  <div>Konzept</div>
				</div>
			  </div>
			  <div class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
				<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
					<div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-position: center center; background-image: url(img/custom/erika.jpg)"></div>
				</div>
				<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
				  <h5>Chris Mustermänn*in</h5>
				  <div>Film</div>
				</div>
			  </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
			  <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Weitere Mitwirkende
                </h4>
			    <p class="mdl-cell mdl-cell--6-col">
				  <strong>?</strong> - ?<br>
				  <strong>?</strong> - ?<br>
				  <strong>?</strong> - ?
				</p>
				<p class="mdl-cell mdl-cell--6-col">
				  <a href="#" target="_blank"
					 class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-light mdl-color-text">
					Beispiellink
				  </a>
			    </p>
              </div>
            </div>
          </section>
          <br><br>
        </div>
		<div class="mdl-layout__tab-panel" id="projektunterseite1">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('projektbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Startseite
			</a>
		  </section>
		  leer
          <br><br>
        </div>
		<div class="mdl-layout__tab-panel" id="projektunterseite2">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('projektbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Startseite
			</a>
		  </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
			  <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Lizenzen
                </h4>
			    <p>
				  <strong>AngularJS</strong> v1.6.9, MIT License, (c) 2010-2018 Google, Inc., http://angularjs.org<br>
				  <strong>video.js</strong> v7.5.4, Apache License Version 2.0, (c) Brightcove Inc., https://github.com/videojs/video.js<br>
				  <strong>material-design-lite</strong> v1.3.0, Apache-2.0, (c) 2015 Google, Inc., https://github.com/google/material-design-lite<br>
				  <strong>Material design icons</strong> Apache License Version 2.0, https://github.com/google/material-design-icons<br>
				  <strong>Roboto Font</strong> Apache License Version 2.0, https://github.com/google/roboto/<br>
				  <strong>SVG-Loaders</strong> MIT License, (c) 2014 Sam Herbert, https://github.com/SamHerbert/SVG-Loaders<br>
				  <strong>Photoshop Brushes</strong> Aramisdream, http://www.aramisdream.it, free to use<br>
				  <strong>Funkspruch FAB O-Ton</strong> BR-Schallarchiv, 1945/04/27, https://www.br.de/import/audiovideo/sendung-freiheitsaktion-bayern-100.html<br>
				  <strong>Richard Wagner Tristan und Isolde</strong> Creative Commons, Orchestre National de la Radiodiffusion-Télévision Française, Hans Schmidt-Isserstedt, 1965<br>
			    </p>
              </div>
            </div>
          </section>
          <br><br>
        </div>


		
		<!-- LIVE-ANSICHT -->
        <div class="mdl-layout__tab-panel" id="hauptseite">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Aktuelle Personen
                </h4>
              </div>
              <div ng-repeat="t in objects.charaktere | filter : t.visible !== true" ng-value="t" class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{t.vorname}} {{t.name}}</h5>
                  <p>{{t.kurzbeschreibung}} <a ng-if="t.dokument" ng-click="objects.currentCharakter = t; objects.angulardocument.getElementById('aktuellepersonbutton').click();" href="#">mehr erfahren</a></p>
                </div>
              </div>
              <div class="mdl-card__actions">
                  <a onclick="document.getElementById('personenbutton').click()" href="#" class="mdl-button">
                      Alle Personen im Überblick
                  </a>
              </div>
            </div>
          </section>
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">
                    Aktuelle Zusatzinfos
                </h4>
              </div>
              <div ng-repeat="t in objects.zusatzinfos | filter : t.visible !== true" ng-value="t" class="mdl-card__supporting-text mdl-card__supporting-text-repeat mdl-grid mdl-grid--no-spacing">
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle mdl-color--primary" style="background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>{{t.name}}</h5>
                  <p>{{t.kurzbeschreibung}} <a ng-if="t.dokument" ng-click="objects.currentZusatzinfo = t; objects.angulardocument.getElementById('aktuellezusatzinfobutton').click();" href="#">mehr erfahren</a></p>
                </div>
              </div>
              <div class="mdl-card__actions">
                  <a onclick="document.getElementById('zusatzinfosbutton').click()" href="#" class="mdl-button">
                      Alle Zusatzinfos im Überblick
                  </a>
              </div>
            </div>
          </section>
		  <br><br>
        </div>
          
          
        <!-- ALLE PERSONEN -->
		<div class="mdl-layout__tab-panel" id="personen">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				Video fortsetzen
			</a>
		  </section>
          <section ng-repeat="t in objects.charaktere" ng-value="t" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{t.vorname}} {{t.name}}</h4>
                {{t.kurzbeschreibung}}
              </div>
              <div ng-if="t.dokument" class="mdl-card__actions">
                <a ng-click="objects.currentCharakter = t; objects.angulardocument.getElementById('aktuellepersonbutton').click();" href="#" class="mdl-button">mehr erfahren</a>
              </div>
            </div>
          </section>
          <br><br>
        </div>
        
          
        
		<!-- AKTUELLE PERSON -->
        <div class="mdl-layout__tab-panel" id="aktuelleperson">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				Video fortsetzen
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="document.getElementById('personenbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Personenübersicht
			</a>
		  </section>
          <section id="aktuellepersonanker" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-position: center center; background-image: url(annotations/{{objects.currentCharakter.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{objects.currentCharakter.vorname}} {{objects.currentCharakter.name}}</h4>
                {{objects.currentCharakter.kurzbeschreibung}}
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"
				   ng-if="objects.currentCharakter.dokument">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.currentCharakter.dokument">
					<docs ng-if="t.docid" doc="t"></docs>
					<ng-include ng-if="t.html" src="gethtml(t)"></ng-include>
				</div>
              </div>
            </div>
          </section>
          <br><br>
        </div>
          
          
        
		<!-- ALLE ZUSATZINFOS -->
        <div class="mdl-layout__tab-panel" id="zusatzinfos">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				Video fortsetzen
			</a>
		  </section>
          <section ng-repeat="t in objects.zusatzinfos" ng-value="t" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-position: center center; background-image: url(annotations/{{t.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{t.name}}</h4>
                {{t.kurzbeschreibung}}
              </div>
              <div ng-if="t.dokument" class="mdl-card__actions">
                <a ng-click="objects.currentZusatzinfo = t; objects.angulardocument.getElementById('aktuellezusatzinfobutton').click();" href="#" class="mdl-button">mehr erfahren</a>
              </div>
            </div>
          </section>
          <br><br>
        </div>
          
          
        
		<!-- AKTUELLE ZUSATZINFO -->
        <div class="mdl-layout__tab-panel" id="aktuellezusatzinfo">
		  <section class="section--center mdl-grid mdl-grid--no-spacing">
			<a onclick="document.getElementById('hauptseitebutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				Video fortsetzen
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="document.getElementById('zusatzinfosbutton').click()" href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-dark mdl-color-text--accent-contrast">
				zur Zusatzfinoübersicht
			</a>
		  </section>
          <section id="aktuellezusatzfinfoanker" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"
                    style="background-size: cover; background-position: center center; background-image: url(annotations/{{objects.currentZusatzinfo.bild}})">
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>{{objects.currentZusatzinfo.name}}</h4>
                {{objects.currentZusatzinfo.kurzbeschreibung}}
              </div>
            </div>
          </section>
		  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp"
				   ng-if="objects.currentZusatzinfo.dokument">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <div ng-repeat="t in objects.currentZusatzinfo.dokument">
					<docs ng-if="t.docid" doc="t"></docs>
					<ng-include ng-if="t.html" src="gethtml(t)"></ng-include>
				</div>
              </div>
            </div>
          </section>
          <br><br>
        </div>
          
          
        <!-- FOOTER -->
		<!-- CUSTOM-CONTENT -->
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              Copyright 2019
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a onclick="document.getElementById('projektunterseite2button').click()" href="#">Lizenzen</a></li>
              <li><a href="http://laspire.de/" target="_blank">Impressum/Datenschutz</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
